{% extends 'base.html' %}

{% block body %}
<div class="container mt-2">
	<!-- taking input section -->
	<div class="card shadow-lg p-3 mb-5 bg-white rounded">
		<form action="/inputbyPressure" method="POST" onsubmit="return validate_form()">
		<div class="card-body">
		<h3 class="card-title text-center text-success">Saturated Steam Table (By Pressure)</h3>
		<p id="error-msg" class="text-center pt-1 text-danger" style="font-size: 20px;display: none;">Value of pressure should be in between 0.00611 to 220.9 bar</p>
		  	<div class="input-group my-2 py-4">
		  		<div class="input-group-append">
				    <p class="mx-4 my-1" style="font-size: larger;"><b>Enter Value of Saturated Pressure (Unit in bar) :</b></p>
				</div>
		 		<input class="form-control form-control-lg" type="number" placeholder=" Pressure range : 0.00611 to 220.9 bar" id="pressure-input" name="pressure">
			  	<div class="input-group-append">
			    <button class="btn btn-outline-success btn-lg mx-1" type="submit">Get Values</button>
			  	</div>
		  	</div>
		</div>
		</form>
	</div>
	<!-- display output section -->
	{% if ans %}
		{% include 'result.html' %}
	{% endif %}

</div>
{% endblock body %}

{% block script %}    
	<script type="text/javascript">
		function validate_form(event) {
			let pressure_input = document.getElementById('pressure-input');
			let pressure_input_val = parseFloat(pressure_input.value);
			let error_msg = document.getElementById('error-msg');
			if (pressure_input_val>=0.00611 && pressure_input_val<=220.9) {
				error_msg.style.display = "none";
				return true;
			}
			else {
				pressure_input.focus();
				error_msg.style.display = "block";
				return false;
			}
		}
	</script>
{% endblock script %}